

{% block content %}

<h1>mon compte</h1>
{% if is_granted('ROLE_ADMIN')%}

<div class="d-flex justify-content-around bg-text">
<a href="/admin">Administrateur, cliquez ici pour accéder au backoffice</a>
{% endif %}
<a href="{{ path('account_password')}}">Modifier mon mot de passe</a>
<a href="{{ path('account_adress')}}">Gérer mes adresses</a>
<a href="{{ path('account_order') }}">Mes commandes</a>
</div>

{% endblock %}
