{% block content %}

<a href=""{{ path('account') }}"">Retour à mon espace personnel </a>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}



{{ form(form) }}

{% endblock %}