{% extends 'base.html.twig' %}

{% block title %}Erreur lors de la commande - EatLocal{% endblock %}

{% block body %}
    <h2>Une erreur c'est produite lors de la commande</h2>
    <h5>Bonjour <strong>{{ order.user.firstname }}</strong>, nous ne pouvons aboutir le paiement de votre commande n° <strong>{{order.reference}}</strong> </h5>
    <h5>Une confirmation d'annulation de la commande a été envoyée par email à l'adresse suivante : <strong>{{order.user.email}}</strong> </h5>
    <h5>EatLocal vous remercie pour vôtre confiance, à  très bientôt !</h5>
    <hr>
    {# <a href="{{ path('order')}}">Réessayer</a> #}
{% endblock %}
 
 {# Un retours a la homepage et à la commande #}
