{% extends 'base.html.twig' %}

{% block title %}Nos produits - EatLocal{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <h1>Filtrer</h1>
            {{ form(form) }}
        </div>
        <h1>Nos produits</h1>
        {% for product in products %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    {% include 'product/single_product.html.twig' %}
                </div>
            </div>
        {% endfor %}
    </div> 
{% endblock %}
