{% extends 'base.html.twig' %}

{% block title %}Nos produits - EatLocal{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <h1>Filtrer</h1>
            {{ form(form) }}
        </div>
        <h1>Nos produits</h1>
        {% for product in products %}
            
                    {% include 'product/single_product.html.twig' %}
                
        {% endfor %}
    </div> 
{% endblock %}
