

{% block body %}
<h1>Inscription</h1>
{% set formHtml %}
{{form(form)}}
{% endset %}

{{ formHtml|replace({'[br]' : '<br/>'})|raw }}
{% if notification %}
<div class="alert alert-nfo">{{ notification }}</div>
<hr>
{% endif %}
{% endblock %}
