    {% block title %}Nous contacter - EatLocal{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(contactForm)}}</div>
        <div class="col-md-4">
            <strong>EatLocal</strong>
            <hr>
            06 20 30 40 50<br/>
            43 rue de Wazemmes, 59000 Lille.<br/>
            eatlocal@wf3.com<br/>
        </div>
    </div>

{% endblock %}