
<!DOCTYPE html>
<html>
<html lang="fr">
    <head>
        <!-- ... -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <link rel="icon" type="image/png" href="./assets/img/fav_icon.png" /> #}
        <title>{% block title %}Eat Local - Buy Local {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <a href="{{ path('cart')}}">
        <img src="{{ asset('assets/img/shpping-cart.png')}}" class="cart-icon" alt="Mon panier">
            <h3>Découvrez nos produitsles plus vendus !</h3>
            {% for product in products %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        {% include 'product/single_product.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div> 
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
