{% include "base.html.twig" %}
{% block body %}
<h2>Nos partenaires :</h2>
<p>Voici les portraits de ceux qui nous acompagnent tous les jours :</p>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src= {{asset("assets/img/farmer/Julien.png")}} alt="Julien, notre fournisseur en légumes">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Julien Delcours :</h5>
          <p class="card-text">Julien est un de nos agriculteurs. Cet ancien ingénieur de 31 ans fourni la plupart de nos légumes biologiques. Son exploitation est située à Landrethun-le-Nord dans le Pas-de-Calais. Il est le créateur du cornichon le Petit Vert du Nord qu’on retrouve dans notre boutique. Il sera heureux de vous accueillir sur ses 30 hectares. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src= {{asset("assets/img/farmer/Jacqueline.jpg")}} alt="Jaqueline, notre experte en fruits.">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Jacqueline Poireau :</h5>
          <p class="card-text">Jacqueline est notre experte des fruits et pourtant rien ne l'y destinait! Ancienne développeuse web, elle a choisi de se reconvertir dans l'arboriculture fruitière en 2014. Sept ans plus tard, son verger est le plus coloré de tout l'Artois. Les cerises, les pommes et prunes poussent en quasi-liberté dans ce gigantesque jardin intégralement maintenu à la main, sans phytosanitaires,"à l'ancienne". Notre collaboration lui a permis d'embaucher deux apprentis, afin de répandre la bonne parole au plus grand nombre.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src= {{asset("assets/img/farmer/Elisa.PNG")}} alt="Elisa, notre experte en boissons biologique.">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Elisa Kurgan :</h5>
          <p class="card-text">Elisa est notre experte en boisson bio. C’était sa destinée. Petite fille d’un des plus grands arboriculteurs et spécialistes du Pas-de-Calais. Son grand-père lui a tout appris. De la fabrication du cidre en passant par différents sirops, notre arboricultrice gère son domaine de 7 hectares avec son équipe uniquement composée de femmes. Ce dernier est entièrement bio. Elles vous attendent sur les terres du Ternois. 
        </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src= {{asset("assets/img/farmer/Quentin.PNG")}} alt="Quentin, notre expert en viandes bovines et porcines.">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Quentin Bardel :</h5>
          <p class="card-text">Quentin travaille avec nous depuis maintenant trois ans. Fils et petit-fils d'éleveur, sa passion et son amour pour les animaux l'ont poussé à abandonner les circuits dits "standard". Notre collaboration lui a permis de sortir du cadre infernal de l'hyper productivité au bénéfice du bien-être animal et de ses conditions de travail. Boeufs, porcs, Quentin aime ses bêtes et sera heureux de vous faire découvrir l'exploitation familiale située dans l'Avesnois, vous pourrez également échanger avec lui sur les nombreuses pratiques éco-responsables qu'il a su mettre en place dans sa ferme. 
        </p>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html.twig' %}
  {% endblock %}
  

























  {% include "footer.html.twig" %}