<footer class="footer">
    <div class="d-flex justify-content-evenly">
    <div>
        <h5>Contact</h5><br>
        <a href="{{ path('contact')}}">Contactez-nous</a>
    </div>
    <div>
        <h5>Moyen de paiment</h5><br>
        <a href="https://stripe.com/fr">Notre solution de paiement</a>
    </div>
    <div>
        <h5>Retrouvez-nous</h5>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
        <h5>Notre concept</h5>
        <a href="{{ path('concept') }}">Nos valeurs</a>
    </div>

</div>
</footer>