<footer>
    <div class="d-flex justify-content-evenly bg-success">
    <div>
        <h5>Contact</h5><br>
        <a href="{{ path('contact')}}">Contactez-nous</a>
    </div>
    <div>
        <h5>Moyen de paiment</h5><br>
        <a href="https://stripe.com/fr">Notre solution de paiement</a>
    </div>
    <div>
        <h5>Retrouvez-nous</h5>
        <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="www.intasgram.com"><i class="fab fa-instagram"></i></a>
    </div>
</div>
</footer>