{% block title %}Page introuvable || EatLocal{% endblock %}

{% block body %}
<h2>Page non trovée</h2>
<p>Votre page n'a pas été trouvée</p>
<a href="{{ path('home')}}" class="btn btn-info">Revenir à la navigation</a>
{% endblock %}
